<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glyxybxhtxt.dao.BxdMapper" >
    <resultMap id="BaseResultMap" type="com.glyxybxhtxt.dataObject.Bxd" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="sbsj" property="sbsj" jdbcType="TIMESTAMP" />
        <result column="eid" property="eid" jdbcType="INTEGER" />
        <result column="xxdd" property="xxdd" jdbcType="VARCHAR" />
        <result column="yysj" property="yysj" jdbcType="VARCHAR" />
        <result column="bxlb" property="bxlb" jdbcType="VARCHAR" />
        <result column="bxnr" property="bxnr" jdbcType="VARCHAR" />
        <result column="tp" property="tp" jdbcType="VARCHAR" />
        <result column="sbr" property="sbr" jdbcType="VARCHAR" />
        <result column="sbrsj" property="sbrsj" jdbcType="VARCHAR" />
        <result column="sbrxh" property="sbrxh" jdbcType="VARCHAR" />
        <result column="hc" property="hc" jdbcType="VARCHAR" />
        <result column="gs" property="gs" jdbcType="VARCHAR" />
        <result column="jid" property="jid" jdbcType="VARCHAR" />
        <result column="shy1" property="shy1" jdbcType="VARCHAR" />
        <result column="shy1state" property="shy1state" jdbcType="INTEGER" />
        <result column="shy2" property="shy2" jdbcType="VARCHAR" />
        <result column="shy2state" property="shy2state" jdbcType="INTEGER" />
        <result column="wxsj" property="wxsj" jdbcType="TIMESTAMP" />
        <result column="cxsy" property="cxsy" jdbcType="VARCHAR" />
        <result column="pj" property="pj" jdbcType="VARCHAR" />
        <result column="pjnr" property="pjnr" jdbcType="VARCHAR" />
        <result column="pjzj" property="pjzj" jdbcType="VARCHAR" />
        <result column="qy" property="qy" jdbcType="VARCHAR" />
        <result column="qylb" property="qylb" jdbcType="VARCHAR" />
        <result column="xq" property="xq" jdbcType="VARCHAR" />
        <result column="ewmdd" property="ewmdd" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <association property="j" javaType="com.glyxybxhtxt.dataObject.Jdr">
            <result column="jgh" property="gh" jdbcType="VARCHAR" />
            <result column="xm" property="xm" jdbcType="VARCHAR" />
            <result column="sj" property="sj" jdbcType="VARCHAR" />
            <result column="yx" property="yx" jdbcType="VARCHAR" />
            <result column="jstate" property="state" jdbcType="VARCHAR" />
            <result column="ywfw" property="ywfw" jdbcType="INTEGER" />
        </association>
        <association property="s1" javaType="com.glyxybxhtxt.dataObject.Shy">
            <result column="s1gh" property="gh" jdbcType="VARCHAR" />
            <result column="s1xm" property="xm" jdbcType="VARCHAR" />
        </association>
        <association property="s2" javaType="com.glyxybxhtxt.dataObject.Shy">
            <result column="s2gh" property="gh" jdbcType="VARCHAR" />
            <result column="s2xm" property="xm" jdbcType="VARCHAR" />
        </association>
    </resultMap>
    <sql id="Base_Column_List" >
    id, sbsj, eid, xxdd, yysj, bxlb, bxnr, tp, sbr, sbrsj, sbrxh, hc, gs, jid, shy1,
    shy1state, shy2, shy2state, wxsj, cxsy, pj, pjnr, pjzj, state
  </sql>
    <sql id="Jdr_Column_List" >
    b.id, b.sbsj, b.eid, b.xxdd, b.yysj, b.bxlb, b.bxnr, b.tp, b.sbr, b.sbrsj, b.hc, b.gs, b.jid,
    b.shy1state,  b.shy2state, b.wxsj, b.cxsy, b.pj, b.pjnr, b.pjzj, b.state
  </sql>

    <select id="allcount" resultType="Integer">
  	select count(id) from bxd
  </select>
    <select id="selgs" resultType="Double" parameterType="String">
  	select round(sum(gs),2) from bxd where sbsj &lt;= DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59') and sbsj &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00') and jid = #{jid,jdbcType=VARCHAR}
  </select>
    <select id="daybx" resultType="Integer">
  	select
   count(id)
    from bxd
    where sbsj &lt;= DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59') and sbsj &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00')
  </select>
    <select id="monthbx" resultType="Integer">
  	select
   count(id)
    from bxd
    where sbsj &lt;= DATE_FORMAT( LAST_DAY(CURDATE()), '%Y-%m-%d 23:59:59') and sbsj &gt;= DATE_FORMAT( CURDATE(), '%Y-%m-01 00:00:00')
  </select>
    <select id="yearbx" resultType="Integer">
  	select
   count(id)
    from bxd
    where sbsj &lt;= DATE_FORMAT( NOW() ,'%Y-12-31 23:59:59') and sbsj &gt;= DATE_FORMAT( NOW() ,'%Y-01-01 00:00:00')
  </select>
    <select id="daywx" resultType="Integer">
  	select
   count(id)
    from bxd
    where wxsj &lt;= DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59') and sbsj &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00')
  </select>
    <select id="monthwx" resultType="Integer">
  	select
   count(id)
    from bxd
    where wxsj &lt;= DATE_FORMAT( LAST_DAY(CURDATE()), '%Y-%m-%d 23:59:59') and sbsj &gt;= DATE_FORMAT( CURDATE(), '%Y-%m-01 00:00:00')
  </select>
    <select id="yearwx" resultType="Integer">
  	select
   count(id)
    from bxd
    where wxsj &lt;= DATE_FORMAT( NOW() ,'%Y-12-31 23:59:59') and sbsj &gt;= DATE_FORMAT( NOW() ,'%Y-01-01 00:00:00')
  </select>


    <select id="selnumforpj" resultType="Integer">
  	select count(id) from bxd where pj = #{pj,jdbcType=INTEGER}
  </select>
    <select id="selnumforstate" resultType="Integer">
  	select count(id) from bxd where state = #{state,jdbcType=INTEGER}
  </select>

    <select id="selforsbr" resultMap="BaseResultMap" parameterType="com.glyxybxhtxt.dataObject.Bxd" >
        select b.*,e.id eid,e.xxdd ewmdd,q.qy,q.qylb,q.xq,j.sj,j.xm from bxqy q,ewm e,bxd b
        left join jdr j
        on b.jid = j.ybid
        where 1=1 and e.id = b.eid and e.qid=q.id and b.sbrxh = #{sbrxh,jdbcType=VARCHAR}
        <if test="eid != null" >
            and b.eid = #{eid,jdbcType=INTEGER}
        </if>
        order by sbsj desc
    </select>
    <select id="selbxdforeid" resultMap="BaseResultMap" parameterType="Integer" >
  select id,sbsj,bxlb,bxnr,sbr from bxd b
  where eid = #{eid,jdbcType=INTEGER} and state=1
   order by sbsj desc
  </select>

    <select id="getsbrbxdnewid" resultType="java.lang.Integer" parameterType="String">
  	select max(id) from bxd where sbrxh = #{xh,jdbcType=VARCHAR}
  </select>

    <select id="selbxdbyshy" resultMap="BaseResultMap" parameterType="com.glyxybxhtxt.dataObject.Bxd">
        select b.*,q.qy,q.qylb,q.xq,e.xxdd ewmdd,j.sj,j.xm from bxqy q,ewm e,bxd b
        left join jdr j on b.jid = j.ybid
        where e.id = b.eid and  b.state != 3 and (b.hc is not null or b.gs is not null)
        and ( (b.shy1 = #{shy1,jdbcType=VARCHAR} <if test="shy1state!=null">and b.shy1state=#{shy1state,jdbcType=INTEGER}</if> )
        or
        (b.shy2 = #{shy1,jdbcType=VARCHAR} <if test="shy1state!=null">and b.shy2state=#{shy1state,jdbcType=INTEGER}</if> )
        )
        <if test="eid != null" >
            and b.eid = #{eid,jdbcType=INTEGER}
        </if>
    </select>
    <select id="selbxdbyjdr" resultMap="BaseResultMap" parameterType="com.glyxybxhtxt.dataObject.Bxd">
        select <include refid="Jdr_Column_List" />,q.qy,q.qylb,q.xq,e.xxdd ewmdd,s1.xm s1xm,s2.xm s2xm  from jdr j,bxqy q,ewm e,bxd b
        LEFT JOIN shy s1 on s1.ybid = b.shy1
        LEFT JOIN shy s2 on s2.ybid = b.shy2
        where j.ybid = b.jid and e.id = b.eid and j.ybid=#{jid,jdbcType=VARCHAR} and e.qid = q.id
        <if test="state != null" >
            and b.state = #{state,jdbcType=INTEGER}
        </if>
        <if test="eid != null" >
            and b.eid = #{eid,jdbcType=INTEGER}
        </if>
    </select>
    <select id="selbxdbyadmin" resultMap="BaseResultMap" parameterType="com.glyxybxhtxt.dataObject.Bxd">
        select  b.*,q.qy,q.qylb,q.xq,e.xxdd ewmdd,j.xm,j.sj,j.yx,j.state jstate,j.gh jgh,j.ywfw,s1.gh s1gh,s1.xm s1xm,s2.gh s2gh,s2.xm s2xm
        from bxqy q,ewm e,bxd b
        left join jdr j on b.jid = j.ybid
        LEFT JOIN shy s1 on s1.ybid = b.shy1
        LEFT JOIN shy s2 on s2.ybid = b.shy2
        where e.id = b.eid and q.id=e.qid
        <if test="id != null" >
            and b.id = #{id,jdbcType=INTEGER}
        </if>
        <if test="bxlb != null" >
            and q.xq = #{bxlb,jdbcType=VARCHAR}
        </if>
        <if test="bxnr != null" >
            and q.id = #{bxnr,jdbcType=VARCHAR}
        </if>
        <if test="jid != null" >
            and b.jid = #{jid,jdbcType=VARCHAR}
        </if>
        <if test="state != null" >
            and b.state = #{state,jdbcType=INTEGER}
        </if>
        <if test="pj != null" >
            <if test="pj != 6" >
                <if test="pj != 0" >
                    and b.pj = #{pj,jdbcType=INTEGER}
                </if>
                <if test="pj == 6" >
                    and b.pj is not null
                </if>
            </if>
            <if test="pj == 0" >
                and b.pj is null
            </if>
        </if>
        <if test="sbsj != null" >
            and b.sbsj &gt;= #{sbsj,jdbcType=TIMESTAMP}
        </if>
        <if test="wxsj != null" >
            and b.sbsj &lt;= #{wxsj,jdbcType=TIMESTAMP}
        </if>
        ORDER BY b.sbsj desc
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from bxd
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bxd
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.glyxybxhtxt.dataObject.Bxd" >
    insert into bxd (eid,
      xxdd, yysj, bxlb, bxnr,
      tp, sbr, sbrsj, sbrxh
      )
    values ( #{eid,jdbcType=INTEGER},
      #{xxdd,jdbcType=VARCHAR}, #{yysj,jdbcType=VARCHAR}, #{bxlb,jdbcType=VARCHAR}, #{bxnr,jdbcType=VARCHAR},
      #{tp,jdbcType=VARCHAR}, #{sbr,jdbcType=VARCHAR}, #{sbrsj,jdbcType=VARCHAR}, #{sbrxh,jdbcType=VARCHAR}
       )
  </insert>
    <insert id="insertSelective" parameterType="com.glyxybxhtxt.dataObject.Bxd" >
        insert into bxd
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="sbsj != null" >
                sbsj,
            </if>
            <if test="eid != null" >
                eid,
            </if>
            <if test="xxdd != null" >
                xxdd,
            </if>
            <if test="yysj != null" >
                yysj,
            </if>
            <if test="bxlb != null" >
                bxlb,
            </if>
            <if test="bxnr != null" >
                bxnr,
            </if>
            <if test="tp != null" >
                tp,
            </if>
            <if test="sbr != null" >
                sbr,
            </if>
            <if test="sbrsj != null" >
                sbrsj,
            </if>
            <if test="sbrxh != null" >
                sbrxh,
            </if>
            <if test="hc != null" >
                hc,
            </if>
            <if test="gs != null" >
                gs,
            </if>
            <if test="jid != null" >
                jid,
            </if>
            <if test="shy1 != null" >
                shy1,
            </if>
            <if test="shy1state != null" >
                shy1state,
            </if>
            <if test="shy2 != null" >
                shy2,
            </if>
            <if test="shy2state != null" >
                shy2state,
            </if>
            <if test="wxsj != null" >
                wxsj,
            </if>
            <if test="cxsy != null" >
                cxsy,
            </if>
            <if test="pj != null" >
                pj,
            </if>
            <if test="pjnr != null" >
                pjnr,
            </if>
            <if test="pjzj != null" >
                pjzj,
            </if>
            <if test="state != null" >
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sbsj != null" >
                #{sbsj,jdbcType=TIMESTAMP},
            </if>
            <if test="eid != null" >
                #{eid,jdbcType=INTEGER},
            </if>
            <if test="xxdd != null" >
                #{xxdd,jdbcType=VARCHAR},
            </if>
            <if test="yysj != null" >
                #{yysj,jdbcType=VARCHAR},
            </if>
            <if test="bxlb != null" >
                #{bxlb,jdbcType=VARCHAR},
            </if>
            <if test="bxnr != null" >
                #{bxnr,jdbcType=VARCHAR},
            </if>
            <if test="tp != null" >
                #{tp,jdbcType=VARCHAR},
            </if>
            <if test="sbr != null" >
                #{sbr,jdbcType=VARCHAR},
            </if>
            <if test="sbrsj != null" >
                #{sbrsj,jdbcType=VARCHAR},
            </if>
            <if test="sbrxh != null" >
                #{sbrxh,jdbcType=VARCHAR},
            </if>
            <if test="hc != null" >
                #{hc,jdbcType=VARCHAR},
            </if>
            <if test="gs != null" >
                #{gs,jdbcType=VARCHAR},
            </if>
            <if test="jid != null" >
                #{jid,jdbcType=VARCHAR},
            </if>
            <if test="shy1 != null" >
                #{shy1,jdbcType=VARCHAR},
            </if>
            <if test="shy1state != null" >
                #{shy1state,jdbcType=INTEGER},
            </if>
            <if test="shy2 != null" >
                #{shy2,jdbcType=VARCHAR},
            </if>
            <if test="shy2state != null" >
                #{shy2state,jdbcType=INTEGER},
            </if>
            <if test="wxsj != null" >
                #{wxsj,jdbcType=TIMESTAMP},
            </if>
            <if test="cxsy != null" >
                #{cxsy,jdbcType=VARCHAR},
            </if>
            <if test="pj != null" >
                #{pj,jdbcType=VARCHAR},
            </if>
            <if test="pjnr != null" >
                #{pjnr,jdbcType=VARCHAR},
            </if>
            <if test="pjzj != null" >
                #{pjzj,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                #{state,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.glyxybxhtxt.dataObject.Bxd" >
        update bxd
        <set >
            <if test="sbsj != null" >
                sbsj = #{sbsj,jdbcType=TIMESTAMP},
            </if>
            <if test="eid != null" >
                eid = #{eid,jdbcType=INTEGER},
            </if>
            <if test="xxdd != null" >
                xxdd = #{xxdd,jdbcType=VARCHAR},
            </if>
            <if test="yysj != null" >
                yysj = #{yysj,jdbcType=VARCHAR},
            </if>
            <if test="bxlb != null" >
                bxlb = #{bxlb,jdbcType=VARCHAR},
            </if>
            <if test="bxnr != null" >
                bxnr = #{bxnr,jdbcType=VARCHAR},
            </if>
            <if test="tp != null" >
                tp = #{tp,jdbcType=VARCHAR},
            </if>
            <if test="sbr != null" >
                sbr = #{sbr,jdbcType=VARCHAR},
            </if>
            <if test="sbrsj != null" >
                sbrsj = #{sbrsj,jdbcType=VARCHAR},
            </if>
            <if test="sbrxh != null" >
                sbrxh = #{sbrxh,jdbcType=VARCHAR},
            </if>
            <if test="hc != null" >
                hc = #{hc,jdbcType=VARCHAR},
            </if>
            <if test="gs != null" >
                gs = #{gs,jdbcType=VARCHAR},
            </if>
            <if test="jid != null" >
                jid = #{jid,jdbcType=VARCHAR},
            </if>
            <if test="shy1 != null" >
                shy1 = #{shy1,jdbcType=VARCHAR},
            </if>
            <if test="shy1state != null" >
                shy1state = #{shy1state,jdbcType=INTEGER},
            </if>
            <if test="shy2 != null" >
                shy2 = #{shy2,jdbcType=VARCHAR},
            </if>
            <if test="shy2state != null" >
                shy2state = #{shy2state,jdbcType=INTEGER},
            </if>
            <if test="wxsj != null" >
                wxsj = #{wxsj,jdbcType=TIMESTAMP},
            </if>
            <if test="cxsy != null" >
                cxsy = #{cxsy,jdbcType=VARCHAR},
            </if>
            <if test="pj != null" >
                pj = #{pj,jdbcType=VARCHAR},
            </if>
            <if test="pjnr != null" >
                pjnr = #{pjnr,jdbcType=VARCHAR},
            </if>
            <if test="pjzj != null" >
                pjzj = #{pjzj,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeySelectivebysbr" parameterType="com.glyxybxhtxt.dataObject.Bxd" >
        update bxd
        <set >
            <if test="cxsy != null" >
                cxsy = #{cxsy,jdbcType=VARCHAR},state = 3,wxsj = CURRENT_TIMESTAMP,
            </if>
            <if test="cxsy == null" >
                <if test="pj != null" >
                    pj = #{pj,jdbcType=VARCHAR},pjnr = #{pjnr,jdbcType=VARCHAR},
                </if> </if>
            <if test="cxsy == null" >
                <if test="pj == null" >
                    <if test="pjzj != null" >
                        pjzj = #{pjzj,jdbcType=VARCHAR},
                    </if>
                </if></if>
        </set>
        where id = #{id,jdbcType=INTEGER} and sbrxh = #{sbrxh,jdbcType=VARCHAR}
    </update>
    <update id="upbxdbyadmin" parameterType="com.glyxybxhtxt.dataObject.Bxd" >
        update bxd
        <set >
            <if test="jid != null" >
                jid = #{jid,jdbcType=VARCHAR},state=1,
            </if>
            <if test="shy1 != null" >
                shy1 = #{shy1,jdbcType=VARCHAR},
            </if>
            <if test="shy2 != null" >
                shy2 = #{shy2,jdbcType=VARCHAR},
            </if>
            <if test="pj != null" >
                pj = #{pj,jdbcType=VARCHAR},
            </if>
            <if test="pjnr != null" >
                pjnr = #{pjnr,jdbcType=VARCHAR},
            </if>
            <if test="hc != null" >
                hc = #{hc,jdbcType=VARCHAR},
            </if>
            <if test="gs != null" >
                gs = #{gs,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="upbxdbyjdr" parameterType="com.glyxybxhtxt.dataObject.Bxd" >
        update bxd
        <set >
            <if test="hc != null" >
                hc = #{hc,jdbcType=VARCHAR},
            </if>
            <if test="gs != null" >
                gs = #{gs,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=INTEGER},wxsj=CURRENT_TIMESTAMP,
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER} and jid = #{jid,jdbcType=VARCHAR}
    </update>
    <select id="selbxdforshyid" resultMap="BaseResultMap"  parameterType="java.lang.Integer" >
  	select id,shy1,shy2,shy1state,shy2state from bxd where id = #{id,jdbcType=INTEGER}
  </select>
    <update id="upbxd1byshy" parameterType="com.glyxybxhtxt.dataObject.Bxd" >
  	 update bxd
    set shy1state = #{shy1state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="upbxd2byshy" parameterType="com.glyxybxhtxt.dataObject.Bxd" >
  	 update bxd
    set shy2state = #{shy2state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="upbxdhcbyshy" parameterType="com.glyxybxhtxt.dataObject.Bxd" >
        update bxd
        <set >
            <if test="hc != null" >
                hc = #{hc,jdbcType=VARCHAR},
            </if>
            <if test="gs != null" >
                gs = #{gs,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER} and (shy1 = #{shy1,jdbcType=VARCHAR} or shy2 = #{shy1,jdbcType=VARCHAR})
    </update>
    <update id="updateByPrimaryKey" parameterType="com.glyxybxhtxt.dataObject.Bxd" >
    update bxd
    set sbsj = #{sbsj,jdbcType=TIMESTAMP},
      eid = #{eid,jdbcType=INTEGER},
      xxdd = #{xxdd,jdbcType=VARCHAR},
      yysj = #{yysj,jdbcType=VARCHAR},
      bxlb = #{bxlb,jdbcType=VARCHAR},
      bxnr = #{bxnr,jdbcType=VARCHAR},
      tp = #{tp,jdbcType=VARCHAR},
      sbr = #{sbr,jdbcType=VARCHAR},
      sbrsj = #{sbrsj,jdbcType=VARCHAR},
      sbrxh = #{sbrxh,jdbcType=VARCHAR},
      hc = #{hc,jdbcType=VARCHAR},
      gs = #{gs,jdbcType=VARCHAR},
      jid = #{jid,jdbcType=VARCHAR},
      shy1 = #{shy1,jdbcType=VARCHAR},
      shy1state = #{shy1state,jdbcType=INTEGER},
      shy2 = #{shy2,jdbcType=VARCHAR},
      shy2state = #{shy2state,jdbcType=INTEGER},
      wxsj = #{wxsj,jdbcType=TIMESTAMP},
      cxsy = #{cxsy,jdbcType=VARCHAR},
      pj = #{pj,jdbcType=VARCHAR},
      pjnr = #{pjnr,jdbcType=VARCHAR},
      pjzj = #{pjzj,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="upbxdshy" parameterType="com.glyxybxhtxt.dataObject.Bxd" >
    update bxd
    set
       shy1 = #{shy1,jdbcType=VARCHAR}
    where shy1 = #{shy1,jdbcType=VARCHAR}
  </update>
</mapper>